

.projectsDiv div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 27em;
    padding: 1em;

}
.projectsDiv{
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.project1 {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    background-color: rgba(255, 255, 255, 0.4);
    width: 30%;
    justify-content: center;
    padding:1.5%;
    text-align: center;
    color: white;
    font-weight: 600;
    overflow: scroll;
    margin: auto;
    margin-top: 3%;
    border-radius: 7px;
    color: black;
    border-style:outset;
    border-width: .1em;
}


iframe {
    width:100%;
    height:20em;
}

.project2 {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    background-color: rgba(0, 0, 0, 0.4);
    width: 30%;
    justify-content: center;
    padding:1.5%;
    text-align: center;
    color: white;
    font-weight: 600;
    overflow: scroll;
    margin: auto;
    margin-top: 3%;
    border-radius: 7px;
    border-style:outset;
    border-width: .1em;
}



.project3 {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    background-color: rgba(255, 255, 255, 0.4);
    width: 30%;
    justify-content: center;
    padding:1.5%;
    text-align: center;
    color: black;
    font-weight: 600;
    overflow: scroll;
    margin: auto;
    margin-top: 3%;
    border-radius: 7px;
    border-style:outset;
    border-width: .1em;
}


.project4 {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    background-color: rgba(0, 0, 0, 0.4);
    width: 30%;
    justify-content: center;
    padding:1.5%;
    text-align: center;
    color: white;
    font-weight: 600;
    overflow: scroll;
    margin: auto;
    margin-top: 3%;
    border-radius: 7px;
    border-style:outset;
    border-width: .1em;
}

@media (min-width: 20px) and (max-width:480px) {

    .projectsDiv {
        display: flex;
        flex-direction: column;
    }
    .project1 {
        width: 80%;
    }
    .project2 {
        width: 80%;
    }
    .project3 {
        width: 80%;
    }
    .project4 {
        width: 80%;
    }

}
@media (min-width:481px) and (max-width:780px) {
    .projectsDiv {
        display: flex;
        flex-direction: column;
    }
    .project1 {
        width: 80%;
    }
    .project2 {
        width: 80%;
    }
    .project3 {
        width: 80%;
    }
    .project4 {
        width: 80%;
    }



}